<div class="header">
    <p class="help">Need Help? Contact us now: </p>
    <div class="details">
        <div class="detail">
            <i class="fa fa-envelope"></i>
            <p>info@oxxsports.com</p>
        </div>
        <span>|</span>
        <div class="detail">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>+92-3187585566</p>
        </div>
        <span>|</span>
        <div class="detail">
            <i class="fa fa-clock-o"></i>
            <p>9:00AM to 8:00PM</p>
        </div>
    </div>
</div>

<nav>
    <div class="logo"><img  src="~/logo.png" alt="Network Error" loading="lazy"></div>
    <div class="navlist">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#about">ABOUT US</a></li>
            <li><a href="">PRODUCTS</a></li>
            <li><a href="#factoryview">FACTORY VIEW</a></li>
            <li><a href="#certificate">CERTIFICATES</a></li>
            <li><a href="#contact">CONTACT US</a></li>
        </ul>
    </div>
</nav>

<section class="home">
    <div class="homedescription">
        <h1 id="first">Welcome To OXX  Sports</h1>
        <span>fight wear Manufacturers and exporters</span>
    </div>
    <div class="homecontent">
        <h1 id="second">We are proud</h1>
        <h1 id="third">to be always in demand</h1>
        <p>Manufacturers and exporters of high quality fight wear products A trusted name in exporting premium fight wear to global markets.</p>
    </div>
    <a href="#contact" id="btn1" class="btn">CONTACT WITH US</a>
</section>


<section class="aboutus" id="about">
    <h1 id="aboutusheading" class="heading">ABOUT US</h1>
    <div class="abouthalf1">
        <div class="abouthalf1con">
            <p>Welcome to OXX SPORTS, where quality meets dedication!</p>
            <p id="secondpara">
                At OXX SPORTS, our commitment to excellence extends beyond mere craftsmanship. Each product in our extensive range undergoes rigorous quality checks to ensure superior performance and durability. Whether you're a professional athlete preparing for competition or a fitness enthusiast pushing your limits, our gear is designed to support your journey to success. Backed by years of industry expertise and a passion for innovation, we strive to set new standards in sports equipment manufacturing. Join us in redefining performance with OXX SPORTS.
            </p>
            <a href="#contact" class="btn" id="btn2">GET IN TOUCH</a>
        </div>
        <div class="abouthalf1img"><img  src="~/image_2022-06-11_130626004.png" alt="" loading="lazy"></div>
    </div>
    <div class="abouthalf2">
        <div class="journey">
            <h1>OUR JOURNEY</h1>
            <P>Our story is one of passion and perseverance. With a singular focus on exporting premium Boxing Gear, Martial Arts equipment, Jiu-Jitsu apparel, and Compression Wear, OXX SPORTS has made its mark on the global stage. We have showcased our exceptional products through detailed catalogues, informative brochures, and personal visits to various countries, ensuring that our brand reaches every corner of the world.</P>

        </div>
        <div class="success">
            <h1>OUR SUCCESS</h1>
            <p>What sets OXX SPORTS apart is our unwavering commitment to quality. Through relentless efforts, devotion to our craft, and stringent quality control, we have achieved remarkable success. Our quality management system is meticulously implemented and rigorously executed at every stage of production. This success is a testament to the constant professional and vigorous teamwork of our most responsible, dedicated, and professional staff members.</p>
        </div>
    </div>


    <div class="abouthalf3">
        <div class="choosecontent">
            <h1>WHY CHOOSE US?</h1>
            <div class="choosecards">
                <div>
                    <div class="cards" id="card1">
                        <h2>No Minimums</h2>
                        <p>Unlike others, we don't charge an arm and a leg for a single item order. Get a customized product at the same price you'd pay for a comparable branded product. Whether you need one item or a hundred, we've got you covered!</p>
                    </div>
                    <div class="cards" id="card2">
                        <h2>Complete Control</h2>
                        <p>You're in the driver's seat! We offer a progressive discount based on your order size, giving you more value as you buy more. With dozens of style options and a massive size chart, you have unparalleled control over every aspect of your order.</p>
                    </div>
                </div>
                <div>
                    <div class="cards" id="card3">
                        <h2>Smart Production</h2>
                        <p>Quality is our promise. With in-house design, manufacturing, and printing facilities, we ensure every step of the process meets our high standards. No outsourcing means no compromises – just top-notch products, every time.</p>
                    </div>
                    <div class="cards" id="card4">
                        <h2>Stellar Team</h2>
                        <p>With decades of experience and a singular goal of making mass customization mainstream, we are your helpful partner every step of the way. Our team is dedicated to ensuring your experience with us is seamless and satisfying.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chooseimg"><img  src="~/product.jpeg" alt="Product Image" loading="lazy"></div>
    </div>
</section>



<section class="factoryview" id="factoryview">
    <h1 class="heading">FACTORY VIEW</h1>
    <p>Factory Tour & Insights</p>
    <div class="visuals">
        <div class="vid">
            <video  src="~/VID-20241218-WA0001.mp4" controls></video>
        </div>
    </div>
</section>

<!-- certificates -->
<section class="certifictes" id="certificate">
    <h1>OUR CERTIFICATES</h1>
    <div class="certificateimages">
        <div class="cerimg" id="cerimg1">
            <h2>CHAMBER OF COMMERCE</h2>
            <img  src="~/cer1.jpeg" alt="" loading="lazy">
        </div>
        <div class="cerimg" id="cerimg2" loading="lazy">
            <h2>FBR REGISTRATION</h2>
            <img  src="~/cer2.jpeg" alt="" loading="lazy">
        </div>
        <div class="cerimg" id="cerimg3" loading="lazy">
            <h2>FBR VERIFICATION</h2>
            <img  src="~/cer3.jpeg" alt="" loading="lazy">
        </div>
        <div class="cerimg" id="cerimg4" loading="lazy">
            <h2>PARTNERSHIP FORM</h2>
            <img  src="~/cer4.jpeg" alt="" loading="lazy">
        </div>
    </div>
</section>






<!-- contact -->
<section class="contact" id="contact">
    <h1>CONTACT US</h1>
    <div class="contactdetails">
        <div class="leftcontact">
            <h2>GET IN TOUCH</h2>
            <form action="/home/Privacy" method="post">
                <input type="text" name="name" placeholder="ENTER YOUR NAME" required>
                <input type="email" name="email" placeholder="ENTER YOUR EMAIL" required>
                <input type="text" name="country" placeholder="ENTER YOUR COUNTRY NAME" required>
                <textarea name="message" id="" type="textarea" placeholder="DROP YOUR MESSAGE HERE" rows="10" required></textarea>
                <div class="contactbtn">
                    <button type="submit">SUBMIT</button>
                    <button type="reset">RESET</button>
                </div>
            </form>
        </div>
        <DIV class="rightcontact">
            <img  src="~/telephone-1460517_1920.png" alt="" loading="lazy">
        </DIV>
    </div>
</section>


<section class="map">
    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13456.931009161091!2d74.50824638750363!3d32.51993007369499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391eebcbbe17ee7d%3A0x2c2d76ca919f7a04!2sHunterpura%2C%20Sialkot%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1721123609997!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
