<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link href="~/css/style.css" rel="stylesheet" />
 
    <title>OXX SPORTS</title>
</head>
<body>



  <div>@RenderBody();</div>







    <footer>
        <div class="footerinfo">
            <div class="des">
				<img src="~/logo.png" alt="" width="200px" loading="lazy">
                <p>A Trusted Name In Exporting Premium Fight Wear To Global Markets.</p>
            </div>
            <div class="links">
                <h2>OUR LINKS</h2>
                <li><a href="#">HOME</a></li>
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="">PRODUCTS</a></li>
                <li><a href="#factoryview">FACTORY VIEW</a></li>
                <li><a href="#certificate">CERTIFICATES</a></li>
                <li><a href="#contact">CONTACT US</a></li>
            </div>
            <div class="contactinfo">
                <h2>CONTACT US</h2>
                <p id="address">Address : Hunter Pura , Muslim Town , Street Membir Basheer , 51310 , Sialkot , Pakistan</p>
                <p id="phone">Phone : +92-3187585566</p>
                <p id="mail">Email : info@oxxsports.com</p>
            </div>
            <div class="social">
                <h2>OUR SOCIAL LINKS</h2>

                <a href="https://www.facebook.com/profile.php?id=61559120372759&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/muhammad-talha-60ba21294?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/mtalha033?utm_source=qr&igsh=MTZha2l3ZnlkM3NhNw==" target="_blank"><i class="fab fa-instagram"></i></a>

            </div>
        </div>
        <hr>
        <p>Copywright &copy; 2024, www.oxxsports.com all rights reserved | Developed by Dynamic Developer</p>
    </footer>
</body>
</html>
